<%- include("header") -%>

    <h2> This is about page.</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corrupti doloremque, est doloribus eligendi, iure
        laboriosam amet fuga totam voluptatem vel at autem! Eum suscipit sit ipsum nesciunt assumenda placeat pariatur
        reprehenderit saepe sed unde libero labore, voluptate accusantium ipsam quasi quibusdam officia. Molestias
        quaerat et pariatur voluptatem, error aut.</p>

<%- include("footer") -%>